<nav class="navbar navbar-inverse navbar-bottom" style="padding:20px 0 0 0; margin-bottom:0px; color:#FFF">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
				    <br>
					<br>
					<p class="text-center"><div class="fb-like" data-href="https://www.facebook.com/wasam.arts" data-action="like" data-share="true"></div></p>

				</div>
				<div class="col-sm-4">
					<p class="text-center">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>

						</ul>
						<br>

						Copyright &copy; 2016 islamicwas All rights reserved
					</p>

					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the </p>


				</div>
				<div class="col-sm-4">
					<h3>Total Hits</h3>
					

				</div>
			</div>
		</div>
	</nav>
