
<div class="col-md-6 col-md-offset-3 text-center">
<a href="/home" class="btn btn-primary btn-lg active" role="button">Home</a>
<a href="/contact" class="btn btn-primary btn-lg active" role="button">Contace</a>
<a href="/upload" class="btn btn-primary btn-lg active" role="button">Upload</a>
<a href="/about" class="btn btn-primary btn-lg active" role="button">About Me</a>
</div>